    #content {
        margin: 10px auto 10px auto;
        max-width: 85%;
        padding:10px;
    }

    div{
        display: block;
     unicode-bidi: isolate;
    }
    table, th, td {
        border: 1px solid gray;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
    }
     a {
        color: #0076C0;
        text-decoration: none;
    }

    a:hover {
        color: #0076C0;
        text-decoration: underline;
    }

    .input-group{
        width:200px;
        margin-left: 76.2%;

    }
   #pageBar {
               margin-left: 38%;
         }
  /* .successProb {
       background-color: yellow;
       color: green;
       padding: 5px;
       border-radius: 3px;
       font-weight: bold;
   }*/