<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.algorihm.mk.judge.mybatis.mapper.UserMapper">
    <insert id="join">
        insert into `User`(username,password,level,role) values(#{username},#{password},#{level},#{role});
    </insert>

    <select id="doubleCheck" resultType="Integer">
        select count(*) from `User` where username = #{username};
    </select>

    <select id="getAllUser" resultType="User">
        select * from `User`;
    </select>

    <select id="findByUsername" resultType="User">
        select * from `User` where username = #{username};
    </select>


</mapper>